<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated usecase_profile.profile -->
      <package
            uri="http://www.tuwien.ac.at/usecase_profile.profile"
            class="at.ac.tuwien.openbam.Usecase_profilePackage"
            genModel="profile/usecase_profile.profile.genmodel"/>
   </extension>

</plugin>
